#fishList {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 20px;
    padding: 20px;
    flex-basis: 300px;
    flex-grow: 1;
    max-width: 400px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    transition: transform 0.3s ease;
   }



#locationList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    flex-basis: 300px;
    flex-grow: 1;
    max-width: 400px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    transition: transform 0.3s ease;
}

#fishDisplaySoldier {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333333;
}

#tipList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    flex-basis: 300px;
    flex-grow: 1;
    max-width: 400px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    transition: transform 0.3s ease;
    margin-left: auto;
    margin-right: 0;
}